<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <!-- Zablokowanie zoomu i skalowania na mobilkach -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title layout:fragment="title">Domyślny tytuł</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/extra.css}" layout:fragment="extraCss" />
    <!-- favicon itd. -->
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon/android-chrome-512x512.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="theme-color" content="#ffffff" />
</head>

<body>

<main layout:fragment="content">
    <!-- Tu będzie zawartość konkretnej strony -->
</main>

<script layout:fragment="extraJs"></script> <!-- Miejsce na dodatkowe JS -->

</body>
</html>
