<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Sale</title>
    <link rel="stylesheet" th:href="@{/css/city.css}" layout:fragment="extraCss" />
</head>
<body>

<div layout:fragment="content">
    <div class="select-container">
        <h2>Wybierz miasto</h2>
        <label for="citySelect"></label>
        <select id="citySelect" onchange="showSelectedCity()">
            <option value="">-- Wybierz miasto --</option>
            <option th:each="localization : ${localizations}" th:value="${localization.id}" th:text="${localization.city}"></option>
        </select>

        <p>Wybrane miasto: <span id="selectedCity">Brak wyboru</span></p>

        <button id="selectButton" onclick="chooseCity()">Wybierz</button>
    </div>

    <a th:href="@{/localization}" class="return-tile">Powrót</a>
</div>

<script layout:fragment="extraJs">
    function showSelectedCity() {
        let select = document.getElementById("citySelect");
        document.getElementById("selectedCity").innerText = select.options[select.selectedIndex].text;
    }

    function chooseCity() {
        let select = document.getElementById("citySelect");
        let selectedValue = select.value;

        if (selectedValue) {
            window.location.href = "/city/" + selectedValue;
        } else {
            alert("Proszę wybrać salę.");
        }
    }
</script>

</body>
</html>
