<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home-date.js" defer></script> <!-- Dynamiczna data, dzień tygodnia i godzina -->
</head>
<body>
<h1>Witaj, <span th:text="${username}">Użytkownik</span></h1>
<h2>Twoje wydarzenia w Outlooku:</h2>
<ul>
    <li th:each="event : ${outlookEvents}">
        <b th:text="${event.subject}">Temat</b><br/>
        <span th:text="${event.start}"></span> -
        <span th:text="${event.end}"></span><br/>
        <span th:text="${event.location}">Lokalizacja</span>
    </li>
</ul>
<div th:if="${accessToken}"  th:text="${accessToken}"></div>
<div th:if="${username}"  th:text="${username}"></div>
<div th:if="${email}" th:text="${email}"></div>
<div id="date"></div> <!-- Dynamiczna data, dzień tygodnia i godzina -->

<div class="container">
    <a th:href="@{/calendar}" class="tile">Kalendarz sali</a>
    <a th:href="@{/localization}" class="tile">Wybór sali</a>
    <a th:href="@{/logout}" class="tile">Wyloguj</a>
    <a th:href="@{/oauth2/authorization/azure}" class="tile">Zologuj</a>
    <form method="post" th:action="@{/createEvent}">
        <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
        <button type="submit">Utwórz wydarzenie</button>
    </form>
</div>

</body>
</html>
