<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home-date.js" defer></script> <!-- Dynamiczna data, dzień tygodnia i godzina -->
</head>
<body>

<div th:if="${name}" th:text="'Witaj ' + ${name}"></div>
<div id="date"></div> <!-- Dynamiczna data, dzień tygodnia i godzina -->

<div class="container">
    <a th:href="@{'/calendar/' + ${defaultHallId}}" class="tile">Kalendarz sali</a>
    <a th:href="@{/localization}" class="tile">Wybór sali</a>
    <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="tile">Wyloguj</a>
    <a th:href="@{/oauth2/authorization/azure}"  sec:authorize="isAnonymous()" class="tile">Zologuj</a>
</div>

</body>
</html>
